<!-- <div *ngIf="shows" class="card-columns"> -->

<div *ngFor="let show of shows" class="card animated fadeIn fast">

    <div class="container-fluid text-center">
        <img *ngIf="show.posterPath != null" class="card-img-top" [src]="imgPath.concat(show.posterPath)" [alt]="show.name">
        <img *ngIf="show.posterPath === null" class="card-img-top" [src]="defaultImgPath" [alt]="show.name">
        <img *ngIf="show.favorite" class="img-responsive img-circle img-favorite" [src]="favoriteImgPath" alt="Favorito">
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ show.name }}</h5>
        <p class="card-text">{{ show.overview }}</p>
        <p class="card-text"><small class="text-muted">{{ show.firstAirDate | date: 'dd/MM/yyyy' }}</small></p>

        <button (click)="showShow(show.id)" type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>

        <button *ngIf="(origin==='recommended' || origin==='search') && !show.followed" (click)="followShow(show)" type="button" class="btn btn-outline-primary btn-block">
            Seguir serie
        </button>

        <button *ngIf="(origin==='recommended' || origin==='search') && show.followed" type="button" class="btn btn-success btn-block disabled">
            Siguiendo
        </button>

    </div>

</div>

<!-- </div> -->