<h1 *ngIf="show"><small>Capítulos de</small> {{ show.name }}
    <img [src]="imgPath.concat(show.posterPath)" class="img-fluid img-header" [alt]="show.name">
</h1>
<hr>

<div *ngIf="episodes" class="list-group">
    <a (click)="markEpisodeAsWatchedOrUnwatched(episode)" style="cursor: pointer;" *ngFor="let episode of episodes" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        {{ episode.seasonNumber + 'x' + episode.episodeNumber + ' - ' + episode.name }}
        <span *ngIf="episode.watched" class="badge badge-success badge-pill">Visto</span>
        <span *ngIf="!episode.watched" class="badge badge-danger badge-pill">Pdte.</span>
    </a>
</div>