<div *ngIf="show" class="card animated fadeIn fast">
    <img *ngIf="show.poster_path != null" class="card-img-top" [src]="imgPath.concat(show.poster_path)" [alt]="show.name">
    <img *ngIf="show.poster_path === null" class="card-img-top" [src]="defaultImgPath" [alt]="show.name">
    <div class="card-body">
        <h5 class="card-title">{{ show.name }}</h5>
        <p class="card-text">{{ show.overview }}</p>
        <p class="card-text"><small class="text-muted">{{ show.first_air_date | date: 'shortDate' }}</small></p>

        <button *ngIf="origin==='myshows'" (click)="showShow()" type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>
        <button *ngIf="(origin==='recommended' || origin==='search') && !followed" (click)="followShow()" type="button" class="btn btn-outline-primary btn-block">
            Seguir serie
        </button>
        <button *ngIf="origin==='recommended' && followed" type="button" class="btn btn-success btn-block disabled">
            Siguiendo
        </button>

    </div>
</div>