<h1 *ngIf="show">{{ show.name | uppercase }} <small>({{ show.firstAirDate | date: 'y'}})</small></h1>
<hr>

<div *ngIf="show" class="row">
    <div class="col-md-4 animated fadeIn fast">
        <div class="container-fluid text-center">
            <img *ngIf="show.posterPath != null" class="img-fluid" [src]="imgPath.concat(show.posterPath)" [alt]="show.name">
            <img *ngIf="show.posterPath === null" class="img-fluid" [src]="defaultImgPath" [alt]="show.name">
            <img *ngIf="show.favorite" class="img-responsive img-circle img-favorite" [src]="favoriteImgPath" alt="Favorito">
        </div>
        <br><br>
        <a *ngIf="show.followed" [routerLink]="['/episodes', show.id]" class="btn btn-outline-primary btn-block">Capítulos</a>
        <button *ngIf="show.followed && !show.favorite" (click)="favoriteShow(true)" type="button" class="btn btn-outline-primary btn-block">
            Marcar como favorita
        </button>
        <button *ngIf="show.followed && show.favorite" (click)="favoriteShow(false)" type="button" class="btn btn-outline-primary btn-block">
            Desmarcar como favorita
        </button>
        <button *ngIf="show.followed" (click)="unfollowShow()" type="button" class="btn btn-danger btn-block">
            Dejar de seguir
        </button>
        <button *ngIf="!show.followed" (click)="followShow(show)" type="button" class="btn btn-outline-primary btn-block">
            Seguir
        </button>
    </div>

    <div class="col-md-8 animated fadeIn">
        <h3>{{ show.name }}</h3>
        <hr>
        <p>
            {{ show.overview }}
        </p>
    </div>
</div>